<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency datas</title>
</head>
<body>

<table border="1" style="width:800px; height: 800px;background-color:teal;">

    <tr>
        <td style="background: red;">Currency</td>
        <td style="background: red;">Value</td>
    </tr>

    <tr>
        <td style="color: yellow;">AZN</td>
        <td style="color: yellow;">{{azn_value}}</td>

    </tr>
    <tr>
        <td style="color: yellow;">RUB</td>
        <td style="color: yellow;">{{rub_value}}</td>

    </tr>
    <tr>
        <td style="color: yellow;">EUR</td>
        <td style="color: yellow;">{{eur_value}}</td>

    </tr>
    <tr>
        <td style="color: yellow;">USD</td>
        <td style="color: yellow;">usd_value</td>

    </tr>


</table>



</body>
</html>